<%- include('partials/header.html')%>
<link rel="stylesheet" href="/public/perfil.css" />
<section class="main">
  <div class="info">
    <div class="moldura"></div>
    <h1 class="nome">O nome vai aqui</h1>
    <p class="nome" style="font-weight: 300; font-size: 18px;border-top: 1px solid white ;">
      Uma breve descrição sobre você Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Sapiente minima accusantium odit voluptate, quam, ullam
      praesentium sit dolore iusto quas hic maxime fugiat architecto quae quia
      est! Minima qui voluptatum obcaecati. Officia labore consectetur
      repudiandae perferendis adipisci, quidem ex minima reiciendis doloribus
      voluptate assumenda optio vel velit. Voluptate, totam ipsam?
    </p>
  </div>
  <div class="posts">
    <h1 class="nome" style="font-size: 30px">Seus posts:</h1>
    <div class="r">
        <img src="https://picsum.photos/200/300" alt="" />
        <a href=""><h1>título dos posts</h1></a>
    </div>
    
  </div>
</section>

<%- include('partials/footer.html')%>
